html, body {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 30px;
    height: 40px;
    clear: both;
    margin: 0;
    padding: 0;
}
#buttons {
    position: absolute;
    right: 30px;
    bottom: 10px;
}
.list {
    width: 49%;
    font-size: 30px;
    height: 50px;
    margin: 0;
    padding: 0;
}
#city {
    float: left;
}
#station {
    float: right;
}
#copyright {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: xx-small;
    margin: 5px;
    padding: 0;
}
#box {
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    bottom: 90px;
    z-index: -1;
    margin: 0;
    padding: 0;
    overflow: scroll;
}