
/* Файл стилей styles.css
   Сайт: Bone Well
   Автор: Колодий К.Г.
   Дата:30.06.2007
*/


body {
    padding : 0;
    margin : 10px 20px 10px 10px;
    color : #421111;
    background-color: white;
  }


.wood {
    background : #fff2b9 url('pics/wood.png');
    padding : 5px;
    border: 6px solid #fff9dc;
    border-right-color: #d7cc9c;
    border-bottom-color: #d7cc9c;
}

#head {
    background : url('pics/stal_u.png') no-repeat bottom right;
    padding : 0 150px 0 0;
    margin : 0;
    float : none;
    min-width: 50ex;
    min-height: 70px;
  }


#name {
    margin : 0;
    float : none;
    min-height: 58px;
  }


#bw {
    text-align: left;
    padding:5px 5px 0 5px;
    margin:0;
    font-size:200%;
    font-weight:bold;
    font-style:italic;
    font-family:serif;
  }


#cub {
    background : url('pics/cub.png') no-repeat top right;
    width:50px;
    height:58px;
    float:right;
  }


#desc {
    text-align: left;
  }


#room {
    background : url('pics/stal_l.png') repeat-y top left;
    padding : 0;
    margin : 0;
    float : left;
    width: 100%;
  }


#menulist {
    margin : 0;
    list-style : none;
    float : left;
    left : 10px;
    position : fixed;
    top : 20ex;
    width : 15ex;
  }


#content {
    background : url('pics/stal_l.png') no-repeat bottom left;
    padding : 0 0 15px 0;
    margin : 0 0 0 20ex;
    float : none;
    min-width : 40ex;
  }


#leg {
    background : url('pics/stal_r.png') repeat-y top right;
    padding : 15px 0 15px 0;
    margin : 0 0 -15px 50px;
    float : none;
    min-width : 40ex;
  }


#main {
    padding : 15px 10px 10px 10px;
    margin : 0 0 0 -50px;
    float : none;
    min-height : 50ex;
    min-width : 40ex;
  }


#foot {
    padding : 0;
    margin :  0 10px 0 0;
    float : left;
    width: 100%;
    min-width: 600px;
  }
  

#copyright {
    margin : 5px;
    float : right;
    text-align: right;
    min-height: 31px;
  }


#label {
    float:left;
    margin:5px;
}


#quote {
    font-style : italic;
    font-weight:bold;
    padding : 0;
    margin : 0;
    text-align:right;
    font-size: 180%;
  }


#author {
    padding : 0;
    margin : 0;
    text-align:right;
  }
  
#sigma {
   background : url('pics/sigma.png') no-repeat top right;
   width : 166px;
   height : 150px;
   float : right;
}

#bell {
   background : url('pics/bell.png') no-repeat top right;
   width : 163px;
   height : 150px;
   float : right;
}

#diamond {
   background : url('pics/diamond.png') no-repeat top right;
   width : 177px;
   height : 150px;
   float : right;
}

#owl {
   background : url('pics/owl.png') no-repeat top right;
   width : 226px;
   height : 200px;
}

#select_style
{
   border : #421111 dashed 1px;
   padding : 5px;
}

h1 {
    font-weight:bold;
    font-family: serif;
    font-size:100%;
    padding : 0;
    margin : 0;
    text-align:center;
}

h2 {
    font-style : italic;
    font-weight:bold;
    font-family:serif;
    font-size:110%;
    padding : 0;
    margin : 0 0 10px 0;
    text-align:right;
    border-bottom-width:1px;
    border-bottom-color:#421111;
    border-bottom-style:solid;
  }


h3 {
    font-style: normal;
    font-weight:bold;
    font-family: serif;
    font-size:small;
    padding : 0;
    margin : 0;
    text-align:center;
  }


p {
    margin : 0;
    padding : 0;
  }


a {
    font-style : italic;
    text-decoration : none;
    color: #421111;
    background-color: transparent;
  }


a:link {
    color: #421111;
    background-color: transparent;
  }


a:hover {
    color: #421111;
    background-color: transparent;
    text-decoration : underline;
  }


a:active {
    color: #421111;
    background-color: transparent;
  }


a:visited {
    color: #421111;
    background-color: transparent;
  }


table {
    padding : 0;
    margin : 0;
    border-bottom: #421111 dashed 1px;
  }


td {
    padding : 5px;
    margin : 0;
    border-top:#421111 dashed 1px;
    border-right: #421111 dashed 1px;
    border-left: #421111 dashed 1px;
  }


thead {
    text-align: center;
    padding:0;
    margin:0;
  }


tbody {
    padding:0;
    margin:0;
  }
