
a.pdf:hover, a.jpg:hover
{
    text-decoration:none;
}

a.pdf div,
a.jpg div,
a.info div {
    height:32px;
    width:32px;
}

a.pdf div {
    background-image: url('pics/pdf.png');
}

a.jpg div {
    background-image: url('pics/jpg.png');
}

a.info div {
    background-image: url('pics/info.png');
}

div#google_translate_element {
    float:right;
    position:absolute;
    top:0;
    right:0;
}