
/* Файл стилей styles.css
   Сайт: Bone Well
   Автор: Колодий К.Г.
   Дата:02.05.2009
*/


body {
    padding : 0px;
    margin : 10px 20px 10px 10px;
    color : #421111;
    background-color: white;
  }


.wood {
    padding : 5px;
    border : 0px;
    border-top-color : #fff9dc;
    border-right-color : #d7cc9c;
    border-bottom-color : #d7cc9c;
    border-left-color : #fff9dc;
  }

#head {
    background : url('pics/flag.png') no-repeat bottom right;
    padding : 0px 135px 0px 0px;
    margin : 0px;
    float : none;
    min-width: 600px;
    height: 150px;
  }


#name {
    background : url('pics/shifer.png');
    margin : 0px 0px 0px 150px;
    padding : 80px 0px 0px 0px;
    float : none;
    height: 70px;
  }


#bw {
    text-align: center;
    padding:5px 0px 0px 0px;
    margin: 0px 0px 0px 50px;
    font-size:32px;
    font-weight:bold;
    font-style:italic;
    font-family:serif;
    background-color : white;
    border-left: solid 1px;
    border-right: solid 1px;
    border-top: solid 1px;
    float: none;
    max-width: 350px;
  }


#cub {
    background : url('pics/krysha.png') no-repeat bottom right;
    float:left;
    padding:0px;
    height: 80px;
    width: 150px;
    margin: 0px 0px 0px -146px;
  }


#desc {
    text-align: center;
    font-size:18px;
    background-color : white;
    border-left: solid 1px;
    border-right: solid 1px;
    border-bottom: solid 1px;
    margin: 0px 0px 0px 50px;
    float: none;
    max-width: 350px;
  }


#room {
    background : url('pics/krylco.png') no-repeat bottom left;
    padding : 0px;
    margin : -15px 0px 0px 0px;
    float : left;
    width: 100%;
    min-width:600px;
  }


#menulist {
    margin : 50px 0px 0px 0px;
    padding: 5px 0px 10px 5px;
    list-style : none;
    float : left;
    left : 10px;
    width : 170px;
    height: 190px;
    font-size : 18px;
    background: url('pics/price.png') no-repeat;
  }


#content {
    background : url('pics/stena.png') repeat-y top left;
    padding : 0px;
    margin : 0 0 0 174px;
    float : none;
  }


#leg {
    background : url('pics/tree.png') no-repeat bottom right;
    padding : 0px;
    margin : 0px;
    float : none;
  }


#main {
    background : url('pics/stena.png') repeat-y top right;
    padding : 20px 10px 10px 10px;
    margin : 0 160px 0 5px;
    float : none;
    min-height : 362px;
  }


#foot {
    padding : 10px 0px 0px 0px;
    margin :  0px 10px 0px 0px;
    float : left;
    width: 100%;
    min-width: 600px;
    background : url('pics/pole.png') repeat-x top left;
  }


#copyright {
    margin : 5px;
    float : right;
    text-align: right;
    min-height: 31px;
  }


#label {
    float:left;
    margin:5px;
}


#informers
{
   vertical-align:bottom;
   float:left;
   text-align:right;
   padding:5px;
}


#citata {
    font-style : italic;
    font-weight:bold;
    padding : 0px;
    margin : 0px;
    text-align:right;
    font-size: 180%;
  }


#author {
    padding : 0px;
    margin : 0px;
    text-align:right;
  }
  
#sigma {
   background : url('pics/sigma.png') no-repeat top right;
   width : 166px;
   height : 150px;
   float : right;
}

#kolokol {
   background : url('pics/kolokol.png') no-repeat top right;
   width : 163px;
   height : 150px;
   float : right;
}

#romb {
   background : url('pics/romb.png') no-repeat top right;
   width : 177px;
   height : 150px;
   float : right;
}

#sova {
   background : url('pics/sova.png') no-repeat top right;
   width : 226px;
   height : 200px;
}

#select_style
{
   border : #421111 dashed 1px;
   padding : 5px;
}

h1 {
    font-weight:bold;
    font-family: serif;
    font-size:100%;
    padding : 0px;
    margin : 0px;
    text-align:center;
}

h2 {
    font-style : italic;
    font-weight:bold;
    font-family:serif;
    font-size:110%;
    padding : 0px;
    margin : 0px 0px 10px 0px;
    text-align:right;
    border-bottom-width:1px;
    border-bottom-color:#421111;
    border-bottom-style:solid;
  }


h3 {
    font-style: normal;
    font-weight:bold;
    font-family: serif;
    font-size:small;
    padding : 0px;
    margin : 0px;
    text-align:center;
  }


p {
    margin : 0px;
    padding : 0px;
  }


a {
    font-style : italic;
    text-decoration : none;
    color: #421111;
    background-color: transparent;
  }


a:link {
    color: #421111;
    background-color: transparent;
  }


a:hover {
    color: #421111;
    background-color: transparent;
    text-decoration : underline;
  }


a:active {
    color: #421111;
    background-color: transparent;
  }


a:visited {
    color: #421111;
    background-color: transparent;
  }


table {
    padding : 0px;
    margin : 0px;
    border-bottom: #421111 dashed 1px;
  }


td {
    padding : 5px;
    margin : 0px;
    border-top:#421111 dashed 1px;
    border-right: #421111 dashed 1px;
    border-left: #421111 dashed 1px;
  }


thead {
    text-align: center;
    padding:0px;
    margin:0px;
  }


tbody {
    padding:0px;
    margin:0px;
  }
